/* Flexbox Page */
* {
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "header"
        "main"
        "footer";
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #f8d6d6;
}
header{
    grid-area: header;
    width: 100%;
    background-color: pink;
    padding: 20px 0;
    color: white;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
header ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 20px;
}

header a{
    color:white;
    text-decoration: none;
    padding: 10px 20px;
    text-align: center;
    transition: background-color 0.3s;
}
header a:hover{
    background-color: blueviolet;
}
main{
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

main div{
    background-color: white; 
    padding: 20px;
    border-radius: 10px; 
    border: 1px solid #ddd; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: center;
    transition: transform 0.3s ease; 
}
div:hover {
    transform: translateY(-5px);
}
.text1{
    grid-column: span 1;
}
.text2{
    grid-column: span 1;
}
text3{
    grid-column: span 1;
}

footer{
    grid-area: footer;
    max-width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    margin: 0;
    padding: 20px 10px;
}

footer p{
    margin: 0;
    font-size: 1em;
}

@media (max-width: 768px) {
    header ul{
        grid-template-columns: auto;
    }
    main{
       grid-template-columns: 1fr;
    }

    .text1,
    .text2,
    .text3 {
        grid-column: span 1;
    }
}
